DATABASE_URL="postgresql://diang:password@localhost:5432/diang_fire_platform?schema=public"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
ALIYUN_OSS_REGION=""
ALIYUN_OSS_BUCKET=""
ALIYUN_OSS_ACCESS_KEY_ID=""
ALIYUN_OSS_ACCESS_KEY_SECRET=""
MAIL_FROM="sales@diang-industrial.com"
